@model BaseUser
@using Admin.BaseClass.UI
@using Admin.Models;
@{
    Layout = "~/Views/Shared/_Login.cshtml";
    ViewBag.Title = "Iniciar sesion";
}


<div class="well wellin no-padding">
    @{
        string email = "";
        if (!string.IsNullOrEmpty(Request["email"]))
        {
            email = Request["email"];
        }
    }
    <div class="btn-primary"> </div>
    @if (Model != null)
    {
        using (Html.BeginForm(null, null, new { }, FormMethod.Post, new { @class = "noAjax smart-form client-form", id = "login-form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.Hidden("returnUrl", "")
            <fieldset class="iwkta">
                @if (!string.IsNullOrEmpty(Request["i"]))
                {
                    <em class="invalid error error_validate">@("Instructions have been sent.")</em>
                }
                <div class="row">
                    <p>
                        @Model.FullName,
                    </p>
                    <p>
                        Specify the password to make the change.
                    </p>
                </div>
                <div class="row">
                    @Html.HiddenFor(d => d.ID)
                    @Html.BasePassword("password", "", "New Password", new { icon1 = new BaseTextBoxIcon() { Icon = Admin.BaseClass.UI.BaseUIIcon.fa.fa_fa_text_width, Position = BaseTextBoxIconPosition.icon_append } }, 12, new { placeholder = ("Password"), autocomplete = "off" }, "required;strongPassword", "", false, new MyHtmlHelpers.BaseToolTip("Form Field"))
                </div>

                <footer>
                    <a class="wos" style="float: left;margin-top: 14px;" href="@Url.Action("Login")">Back To Login?</a>
                    <button type="submit" id="submit" class="btn btn-primary bruski">
                        Change Password
                    </button>
                </footer>
            </fieldset>
        }
    }
    else
    {
        <p>This link is no longer valid or has been deleted</p>
    }
</div>
<script>
    $(document).ready(function () {
        $("#login-form").submit(function () {
            if ($("#password").val() == $("#confirmpassword").val()) {
                alert("Passswords must be equals");
                return false;
            }
        });
    });
</script>