@{
    Admin.Models.Context db = new Admin.Models.Context();
    Admin.Models.BaseUser user = Helper.GetUser(db);
}
<div id="a" role="main">
    <!-- MAIN CONTENT -->
    <form class="lockscreen animated flipInY" action="@Url.Action("needPassword", "BaseUnauthorize")" method="post">
        <div class="logo">
            <h1 class="semi-bold">
                Esta opción necesita de una contraseña para acceder.</h1>
        </div>
        <div>
            <img src="~/Uploads/UserImages/@(user.PimageUrl)" alt="" width="120" height="120" />
            <div>
                <h1><i class="fa fa-user fa-3x text-muted air air-top-right hidden-mobile"></i>@user.FullName <small><i class="fa fa-lock text-muted"></i>&nbsp;Bloqueada @(GlobalsViewBag.Get("error").ToString())</small></h1>
                <p class="text-muted">
                    <a href="mailto:@(user.username)">@user.username</a>
                </p>

                <div class="input-group">
                    <fieldset>
                        <section>
                            <label class="label"></label>
                            <label class="input @(!string.IsNullOrEmpty(GlobalsViewBag.Get("error").ToString()) ? "state-error" : "")">
                                <div class="input-group-btn">
                                    <input class="form-control" type="password" placeholder="Password" name="password">
                                    <button class="btn btn-primary generalSubmit" type="submit">
                                        <i class="fa fa-key"></i>
                                    </button>
                                </div>
                            </label>
                            <div class="note note-error">@(GlobalsViewBag.Get("error").ToString())</div>
                        </section>
                    </fieldset>

                </div>
            </div>

        </div>
        <p class="font-xs margin-top-5">
            Copyright @Admin.BaseClass.App.Info.AppName @DateTime.Now.Year
        </p>
    </form>

</div>
<script>
    pageSetUp();
    $(document).ready(function () {
        
    });
</script>
