@using Admin.BaseClass.UI
@using Admin.Models;

@{
    Widget widget = new Widget("NIIWidget", "Generate CRUD", Admin.BaseClass.UI.BaseUIIcon.fa.fa_fa_reorder, this.ViewContext);
    widget.Data_widget_deletebutton = true;
    widget.Data_widget_togglebutton = true;
    widget.Data_widget_colorbutton = true;
    widget.Data_widget_fullscreenbutton = true;
    widget.Data_widget_sortable = true;
    widget.Data_widget_editbutton = true;
}

<section id="widget-grid" class="">
    <div class="row">
        @Html.Raw(widget.beginHeader())
        @Html.Raw(widget.beginCustomButton())
        @Html.Raw(widget.Dcontinue())
        @Html.Raw(widget.endHeader())
        <form action="@Url.Action("GenerateForm", "BaseDeveloper")" method="post" id="NII-form" class="smart-form" data-successmessage="@("Saved")" data-errormessage="@("Error writing data try later.")">
            <fieldset>
                <div class="row">
                    @Html.BaseDropDownList("tableNames", "VWBaseallsystem", "name", "name", " where name not like 'v%' and name not like 'Base%' and name not like 'VW%' and name not like 'web%' and name not like 'sys%' order by create_date ", 12, "App Tables", "Select Table", "", Admin.BaseClass.UI.BaseUIIcon.fa.fa_fa_arrow_circle_down, new List<object>(), true, "Refresh Tables", "", "", "", null)
                    @Html.BaseDropDownList("tableNames", "VWBaseallsystem", "name", "name", " where name not like 'v%' and name like 'Dev%' order by create_date ", 12, "Dev Tables", "Select Table", "", Admin.BaseClass.UI.BaseUIIcon.fa.fa_fa_arrow_circle_down, new List<object>(), true, "Refresh Tables", "", "", "", null)
                    @Html.BaseDropDownList("tableNames", "VWBaseallsystem", "name", "name", " where name not like 'v%' and name like 'Base%' order by create_date ", 12, "Interal Tables", "Select Table", "", Admin.BaseClass.UI.BaseUIIcon.fa.fa_fa_arrow_circle_down, new List<object>(), true, "Refresh Tables", "", "", "", null)
                    @Html.BaseDropDownList("tableNames", "VWBaseallsystem", "name", "name", " where name not like 'v%' and name like 'Report%' order by create_date ", 12, "Report Tables", "Select Table", "", Admin.BaseClass.UI.BaseUIIcon.fa.fa_fa_arrow_circle_down, new List<object>(), true, "Refresh Tables", "", "", "", null)
                </div>
                <div class="row">
                    @Html.BaseCheckBox("isController", false, "", "Controller", 4, "Yes", "No", "")
                    @Html.BaseCheckBox("isIndex", true, "", "Index", 4, "Yes", "No", "")
                    @Html.BaseCheckBox("isForm", true, "", "Form", 4, "Yes", "No", "")
                </div>
                <div class="row">
                    @Html.BaseCheckBox("isModelExtra", false, "", "Model Extra", 4, "Yes", "No", "")
                    @Html.BaseCheckBox("buildColumns", true, "", "Build Columns", 4, "Yes", "No", "")
                    @Html.BaseCheckBox("report", false, "", "Report", 4, "Yes", "No", "")
                </div>
                <div class="row">
                    @Html.BaseTextBox("parentMenu", "", null, 12, "required")
                </div>
                @*<div>
                    @Html.BaseTextBox("auditoria", "{creationDate:'date:oncreate',updateDate:'date:onupdate',removeDate:'date:ondelete'}", "Create Dates", new { icon1 = new BaseTextBoxIcon() { Icon = Admin.BaseClass.UI.BaseUIIcon.fa.fa_fa_text_width, Position = BaseTextBoxIconPosition.icon_append } }, 6, new { placeholder = ("Dates") }, "", "", true, new MyHtmlHelpers.BaseToolTip("Form Field"))
                </div>*@
            </fieldset>
            <footer>
                <button id="btnSubmit" class="btn btn-success"><i class="glyphicon glyphicon-ok" title="@("Save")"></i></button>
            </footer>
        </form>
        @Html.Raw(widget.Dcontinue())
        @Html.Raw(widget.end())
    </div>
</section>

<script>
    pageSetUp();
    $(document).ready(function () {
        validateForm("NII-form");

        $("#btnSubmit").click(function () {
            var form = $("#NII-form");
            var $me = $(this);
            form.validate();
            if (form.valid()) {
                $me.attr("disabled", "disabled");
                $.ajax({
                    type: "POST",
                    url: form.attr('action'),
                    data: form.serialize(),
                    success: function (response) {
                        alert(response.message);
                        $me.removeAttr("disabled");
                    },
                    error: function (err) {
                        alert(err);
                    }
                });
            }
            return false;
        });
    });
</script>
